// Button Colors
$color-primary-button-dark: #005587;
// primary
$color-primary-button-bg: #005587;
$color-primary-button-text: #ffffff;
$color-primary-button-border: $color-primary-button-bg;

$color-primary-button-hover-bg: #0f6dbe;
$color-primary-button-hover-text: #ffffff;
$color-primary-button-hover-border: $color-primary-button-hover-bg;

$color-primary-button-active-bg: $color-primary-button-dark;
$color-primary-button-active-text: #ffffff;
$color-primary-button-active-border: $color-primary-button-active-bg;

$color-primary-button-disabled-bg: #ececec;
$color-primary-button-disabled-text: #535d68;
$color-primary-button-disabled-border: #ececec;

// secondary
$color-secondary-button-bg: #ffffff;
$color-secondary-button-text: #005587;
$color-secondary-button-border: $color-secondary-button-text;

$color-secondary-button-hover-bg: #f3f3f3;
$color-secondary-button-hover-text: #005587;
$color-secondary-button-hover-border: $color-secondary-button-hover-text;

$color-secondary-button-active-bg: #dedede;
$color-secondary-button-active-text: $color-primary-button-dark;
$color-secondary-button-active-border: $color-secondary-button-active-text;

.icon {
  margin-left: 5px;
}

// global overrides for button.
.btn,
button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
    margin: 15px 0;
  &:hover,
  &:active {
    cursor: pointer;
  }
}

.btn {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  min-width: 250px;
  border-radius: 4px;

  & > .text {
    margin: auto 0;
  }

  transition: background-color .15s linear !important;
}

.btn-disabled {
  border: solid 1px $color-primary-button-disabled-border;
  cursor: not-allowed;
  pointer-events: none;
  .text {
    color: $color-primary-button-disabled-text;
  }
}

.primary {
  background-color: $color-primary-button-bg;
  border: solid 1px $color-primary-button-border;
  .text {
    color: $color-primary-button-text;
  }

  &:hover {
    background-color: $color-primary-button-hover-bg;
    border: solid 1px $color-primary-button-hover-border;
    .text {
      color: $color-primary-button-hover-text;
    }
  }

  &:active,
  &:focus {
    background-color: $color-primary-button-active-bg;
    border: solid 1px $color-primary-button-active-border;
    .text {
      color: $color-primary-button-active-text;
    }
  }

  &[disabled] {
    @extend .btn-disabled;
    background-color: $color-primary-button-disabled-bg;
  }
}

.secondary {
  font-weight: 600;
  color: $color-secondary-button-text;
  background-color: $color-secondary-button-bg;
  border: solid 1px $color-secondary-button-border;
  .text {
    color: $color-secondary-button-text;
  }

  &:hover {
    background-color: $color-secondary-button-hover-bg;
    border: solid 1px $color-secondary-button-hover-border;
    .text {
      color: $color-secondary-button-hover-text;
    }

  }

  &:active,
  &:focus {
    background-color: $color-secondary-button-active-bg;
    border: solid 1px $color-secondary-button-active-border;
    .text {
      color: $color-secondary-button-active-text;
    }
  }

  &.disabled {
    @extend .btn-disabled;
  }
}

//@media #{$tablet-media-query} {
//  .btn {
//    width: 24.2rem;
//  }
//}
//
//@media #{$mobile-media-query} {
//  .btn {
//    width: 29.2rem;
//  }
//}